<h1>Tervetuloa Taivalsprinttiin! Ilmoittautumisesi on vastaanotettu!</h1>

<p>Aamiaismahdollisuus ABC Taivalkoski asemalla hintaan 5€/hlö. Mikäli haluat aamiaisen ilmoitathan siitä mielellään ennakkoon sähköpostitse katariina@iloisettassut.fi ja kupongit on noudettavissa kisatoimistosta perjantai-illasta lähtien.</p>

