.container(ng-controller="HomeController" zt-full-size)
  .minitron
    %h1 Ilmoitaudu tassa
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      .row
        .col-xs-12.col-lg-8.col-lg-offset-1.col-md-10.col-md-offset-1
          %form
            .form-group
              %label(for="exampleInputEmail1")Name
              %input.form-control(type="email" id="exampleInputEmail1" placeholder="Enter name")
            .form-group
              %label(for="exampleInputEmail1")Email
              %input.form-control(type="email" id="exampleInputEmail1" placeholder="Enter email")
            .form-group
              -# Many thanks to http://isteven.github.io/angular-multi-select/
              %label(for="races")Competitions
              #races(multi-select input-model="modernWebBrowsers" button-label="name" item-label="name desc" tick-property="selected" helper-elements="" default-label="Click here to select competitions" output-model="selectedRaces")
            .form-group
              %label(for="exampleInputEmail1")Club
              %input.form-control(type="email" id="exampleInputEmail1" placeholder="Enter club")
            .form-group
              %label(for="exampleInputFile")Payment receipt
              %input(type="file" id="exampleInputFile")
              %p.help-block You must pay and upload the receipt. We do not trust you!
            .checkbox
              %label
                %input(type="checkbox") I understand and accept
            %button.btn.btn-primary.btn-lg(type="submit" ng-click="submit()" style="float: right;") Let's go! Seriously!
      .clearfix(style="margin-bottom: 36px;")
    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
