.container(ng-controller="HomeController" zt-full-size)
  %alert(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}
  .minitron
    %h1 Ilmoittaudu tässä
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      .row
        .col-xs-12.col-lg-8.col-lg-offset-1.col-md-10.col-md-offset-1
          %form
            .form-group
              %label(for="input-name")Nimi
              %input#input-name.form-control(type="text" placeholder="Enter your full name" ng-model="app_form.name")
            .form-group
              %label(for="input-email")Sähköposti
              %input#input-email.form-control(type="email" placeholder="Enter your email" ng-model="app_form.email")
            .form-group
              -# Many thanks to http://isteven.github.io/angular-multi-select/
              %label(for="races") Sarja
              #races(multi-select input-model="modernWebBrowsers" button-label="name" item-label="name desc" tick-property="selected" helper-elements="" default-label="Click here to select competitions" output-model="selectedRaces")
            .form-group
              %label(for="input-club") Seura
              %input#input-club.form-control(type="text" placeholder="Enter club" ng-model="app_form.club")
            .form-group
              %label(for="input-dogs") Koiran rotu
              %input#input-dogs.form-control(type="text" placeholder="Enter dogs" ng-model="app_form.dogs")
            .form-group
              %label(for="input-info") Lisätiedot
              %input#input-dogs.form-control(type="text" placeholder="Enter more info, if you really need to" ng-model="app_form.info")
            .form-group
              %label(for="input-receipt") Maksukuitti (pdf tai jpg/jpeg)
              %input#input-receipt(type="file" fileread="app_form.receipt")
              %p.help-block Maksukuitti täytyy lähettää ilmoittautumisen mukana.
            -# .checkbox
              %label
                %input(type="checkbox") Ymmärrän ja hyväksyn
            %button.btn.btn-primary.btn-lg(type="submit" ng-click="submit()" style="float: right;") Lähetä ilmoittautuminen
      .clearfix(style="margin-bottom: 36px;")
    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
