%footer.footer
  .row
    .col-sm-4
      %p 
        Copyright (c) Iloiset Tassut Tmi.
    .col-sm-4
      %p Taivalsprintti contact info: katariina(t)iloisettassut.fi.
    .col-sm-4
      %p
        Images courtesy
        %a(href="http://jonijurmu.kuvat.fi/kuvat/") Joni Jurmu.
