.container(ng-controller="HomeController")
  .jumbotron(style="background-size: cover;margin-top: 20px; margin-bottom: 40px; height: 486px; background-image: url('assets/jumbo.jpg;'); padding-top: 320px;")
    %h1.title(style="margin-bottom: 5px;") Taivalvaara Sprint
    %h2.title2.hidden-sm.hidden-xs(style="margin-top: 5px;") SM S4, SP4j, SP8, koirahiihto, yhdistetty 7.-8.3.2015
    %p
      %span Ookko nää kunnossa?
      %span.btn.btn-primary.btn-lg(href="#" role="button") Ilimottaudu nyt!
  .row
    .col-sm-8
      %ul.nav.nav-pills(style="margin-bottom: 40px;")
        %li.active(role="presentation")
          %a Kilpailu
        %li(role="presentation")
          %a Ohjelma ja aikataulu
        %li(role="presentation")
          %a Lähtölista
        %li(role="presentation")
          %a Taivalkoski
        %li(role="presentation")
          %a Tapahtumapaikka
      %p Kilpailu tapahtu taivalvaara hiihtostadionissa 7.-8. maaliskuussa.
      %p Ilmotadutteet vimeistan joku paiva.
      %p Muos lasten categoriaat..
      %p Tukkaa fejsbukissa! Lahetta ustaville sahkopostille!
    .col-xs-4
      %div
        %a Vetdog
      %div
        %a NonStop
      %div
        %a Ouluvet
      %div
        %a Z-Ware
  
