.container(ng-controller="HomeController" zt-full-size)
  .jumbotron
    %h1.title Taivalvaara Sprint
    %h2.title2.hidden-sm.hidden-xs SM S4, SP4j, SP8, koirahiihto, yhdistetty 7.-8.3.2015
    %p
      %span Ookko nää kunnossa?
      %a(href="/#/apply")
        %span.btn.btn-primary.btn-lg(href="#" role="button") Ilimottaudu nyt!
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      %p Kilpailu tapahtu taivalvaara hiihtostadionissa 7.-8. maaliskuussa.
      %p Ilmotadutteet vimeistan joku paiva.
      %p Muos lasten categoriaat..
      %p Tukkaa fejsbukissa! Lahetta ustaville sahkopostille!
    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
