.container(ng-controller="HomeController" zt-full-size)
  %alert(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}
  .jumbotron
    %h1.title Taivalvaara Sprint
    %h2.title2.hidden-sm.hidden-xs SM SP4, SP4j, SP8, koirahiihto, yhdistetty 7.-8.3.2015
    %p
      %span Ookko nää kunnossa?
      %a(href="/#/apply")
        %span.btn.btn-primary.btn-lg(href="#" role="button") Ilimottaudu nyt!
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      %div(cms-block="home" class="home-block")
    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
  = Haml::Engine.new(File.read("app/assets/javascripts/templates/footer.html.haml")).render
