.startlist
%p(ng-hide="competition_info") Please wait, loading competition info.
.row.competition-startlist(ng-repeat="competition in competition_info | orderBy:'order_number' | filter:doShowCompetitionInResults")
  .col-xs-12
    .row
      .col-xs-12
        %h3.competition-title 
          {{competition.code}} - {{competition.name}}
          -#%span.unofficial(ng-show="competition.state!='closed'") EPAVIRALINEN
    .row(ng-show="competition.type=='two runs combined'")
      .col-xs-12.col-md-6
      .col-xs-4.col-sm-3.col-sm-offset-3.col-md-offset-0.col-md-2.score
        P채iv채 1
      .col-xs-4.col-sm-3.col-md-2.score
        P채iv채 2
      .col-xs-4.col-sm-3.col-md-2.score
        Yhteistulos
    .row.competitor-info(ng-repeat="competitor in competition.list")
      .col-xs-1
        {{$index + 1}}
      .col-xs-11.col-sm-11.col-md-5
        {{competitor.num}}. {{competitor.name.titleize()}}, {{competitor.club|limitTo:9}}
      .col-xs-4.col-sm-3.col-sm-offset-3.col-md-offset-0.col-md-2.score(ng-show="competition.type=='two runs combined'")
        {{competitor.score.day1}}
      .col-xs-4.col-sm-3.col-md-2.score(ng-show="competition.type=='two runs combined'")
        {{competitor.score.day2.replace("none","")}}
      .col-xs-4.col-sm-3.col-md-2.score
        {{competitor.score.final}}
.distance
    
  
