.container(ng-controller="HomeController" zt-full-size)
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      %kilpako-startlists(info-type="live")
    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
  = Haml::Engine.new(File.read("app/assets/javascripts/templates/footer.html.haml")).render
