%ul.nav.nav-pills(style="margin-bottom: 40px;")
  %li.active(role="presentation")
    %a Kilpailu
  %li(role="presentation")
    %a Ohjelma ja aikataulu
  %li(role="presentation")
    %a Lähtölista
  %li(role="presentation")
    %a Taivalkoski
  %li(role="presentation")
    %a Tapahtumapaikka