%ul.nav.nav-pills(style="margin-bottom: 40px;")
  %li(role="presentation" ng-class="onPage('/')")
    %a(href='/#/') Kilpaillu
  %li(role="presentation" ng-class="onPage('/program')")
    %a(href='/#/program') Ohjelma ja aikataulu
  %li(role="presentation" ng-class="onPage('/startlist')")
    %a(href='/#/startlist') Lähtölista
  %li(role="presentation" ng-class="onPage('/taivalkoski')")
    %a(href='/#/taivalkoski') Taivalkoski
  %li(role="presentation" ng-class="onPage('/stadion')")
    %a(href='/#/stadion') Tapahtumapaikka