%ul.nav.nav-pills(style="margin-bottom: 40px;")
  %li(role="presentation" ng-class="onPage('/')")
    %a(href='/#/') Etusivu
  %li(role="presentation" ng-class="onPage('/program')")
    %a(href='/#/program') Osallistumis info ja aikataulu
  %li(role="presentation" ng-class="onPage('/startlist')")
    %a(href='/#/startlist') Lähtölista
  %li(role="presentation" ng-class="onPage('/live')" blinker ng-show="has_active_to_show")
    %a(href='/#/live') LIVE
  %li(role="presentation" ng-class="onPage('/results')" ng-show="has_results_to_show")
    %a(href='/#/results') Tulokset
  %li(role="presentation" ng-class="onPage('/stadion')")
    %a(href='/#/stadion') Tapahtumapaikka
  %li(role="presentation" ng-class="onPage('/taivalkoski')")
    %a(href='/#/taivalkoski') Taivalkoski
