.container(ng-controller="HomeController" zt-full-size)
  .minitron
    %h1 Osallistumis info ja aikataulu
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      %p Kisoihin ilmoittautuminen tapahtuu ilmoittautumislomakkeen kautta.
      Maksu suoritetaan Metsä-Veikot 85 tilille FI1054550740011704, viite 4019. Maksukuitti liitetään ilmoittautumislomakkeelle!
      %p
      %p Osallistumismaksut: Valjakkoajo 60€/2pv, hiihtoluokat 30€/pv, harrastussarja 10€/pv + tarvittava lisenssi 7€/pv.


      %p Viimeinen ilmoittautumispäivä on 28.2.2015. Harrastussarjoihin voi ilmoittautua myös paikan päällä!

      %p Sarjat ja matkat lauantai 7.3.:

      %ul
        %li SM Sp4 & Sp4j n. 8km
        %li Sp6 n. 12km
        %li SM Sp8 n. 14-16km
        %li Spu 20-22km
        %li NMS1 A 12km, B 10km
        %li NWS1 A 10km, B 6km
        %li NMSJ & NWMJ A&B 5km
        %li Veteraanimiehet ja -naiset A&B 5km
        %li Harrastussarja 5km

      %p Sarjat ja matkat sunnuntai 8.3.:
      %ul
        %li SM Sp4 & Sp4j n. 8km
        %li Sp6 n. 12km
        %li SM Sp8 n. 14-16km
        %li Spu 20-22km
        %li NMC A 10km
        %li NWC A 10km
        %li Harrastussarja 5km

      %p Lapsille järjestetään oma sarja aikataulujen puitteissa joko lauantaina tai sunnuntaina!
      %a(href="/#/apply")
        %span.btn.btn-primary.btn-lg(href="#" role="button") Ilimottaudu nyt!








    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
