%div(style="margin-bottom: 3px;")
  %a(href="http://kauppa.ouluvet.fi" target="_blank")
    %img(src="assets/vetdog.png" style="width: 100%")
%div(style="margin-bottom: 3px;")
  %a(href="http://www.non-stopdogwear.fi/" target="_blank")
    %img(src="assets/nonstop.png" style="width: 100%")
%div(style="margin-bottom: 10px;")
  %a(href="http://www.primapetpremium.fi/" target="_blank")
    %img(src="assets/planet-pet.jpg" style="width: 100%")
%div(style="margin-bottom: 3px;")
  %a(href="https://www.facebook.com/mustijamirrikempele" target="_blank")
    %img(src="assets/mustimirri.png" style="width: 100%")
%div(style="margin-bottom: 10px;")
  %a(href="http://www.kylmanen.fi/" target="_blank")
    %img(src="assets/kylmanen.png" style="width: 100%")
%div(style="margin-bottom: 10px;")
  %a(href="http://ouluvet.fi/" target="_blank")
    %img(src="assets/ouluvet.png" style="width: 100%")
%div(style="margin-bottom: 10px;")
  %a(href="http://www.kolmiloukko.com/suomi/" target="_blank")
    %img(src="assets/kolmi.png" style="width: 100%")
