%div(style="margin-bottom: 3px;")
  %a(href="http://vetdog.fi")
    %img(src="assets/vetdog.png" style="width: 100%")
%div(style="margin-bottom: 3px;")
  %a(href="http://www.non-stopdogwear.fi/")
    %img(src="assets/nonstop.png" style="width: 100%")
%div(style="margin-bottom: 10px;")
  %a(href="http://www.non-http://www.kolmiloukko.com/suomi/")
    %img(src="assets/kolmi.png" style="width: 100%")