.container(ng-controller="HomeController" zt-full-size)
  .minitron
    %h1 Taivalkoski
  .row
    .col-sm-8
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/menu.html.haml")).render
      %p Taivalkoski on ihana paikka missa asuvat Reeta, Veeti, Leevi, Martta, Emma, Veikko Lyyti ja Mosse.
      %p Tassa tule lisä tietoja
    .col-sm-4
      = Haml::Engine.new(File.read("app/assets/javascripts/templates/sponsors.html.haml")).render
