/*
*= require_self
*= require angular-multi-select
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "zwr";
@import "rails_bootstrap_forms";

#search_control, #second_page_title {
  margin-top: 30px;
}

.search_input {
  position: relative;
}

.search_input > .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 14px;
}

body {
  background-image: url(back.jpg);
  background-size: cover;
}

.container {
  background-color:rgba(255,255,255,0.67);
}

.jumbotron {
  background-size: cover;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 486px; 
  background-image: url(jumbo.jpg);
  padding-top: 310px;
  
  h1 {
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 0px;margin-bottom: 3px;
  }
}

.minitron {
  margin-top: 20px;
}