/*
*= require_self
*= require angular-multi-select
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "zwr";
@import "rails_bootstrap_forms";

#search_control, #second_page_title {
  margin-top: 30px;
}

.search_input {
  position: relative;
}

.search_input > .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 14px;
}

body {
  background-image: url(back.jpg);
  background-size: cover;
}

.container, .container-fluid {
  background-color:rgba(255,255,255,0.67);
  position: relative;
  padding-bottom: 70px;
}

.jumbotron {
  background-size: cover;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 486px;
  background-image: url(jumbo.jpg);
  padding-top: 310px;

  h1 {
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 0px;margin-bottom: 3px;
  }
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background-color:rgba(200,200,220,0.9);
  margin-left: -15px; /* to kill the padding of container */
  padding-top: 15px;
  p {
    text-align: center;
  }
}

.indent, .location-block p, .location-block ul {
  margin-left: 20px;
}

.minitron {
  margin-top: 20px;
}

.home-block {
  text-align: center;
  strong {
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
  }
}

.competitor-info {
  border-top: solid 1px #ccc;
  .form-group {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.score {
  text-align: right;
}

.blink-on a {
  color: red !important;
}