!!!
%html
  %head
    %title Taivalsprintti Admin!
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    -# android stand alone mode
    %meta(name="mobile-web-app-capable" content="yes")
    %link(rel="icon" sizes="192x192" href="/assets/icon.png")
    -# iOS stand alone mode
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %link(rel="apple-touch-icon" href="/assets/icon.png")
    %link(rel="apple-touch-startup-image" href="/assets/icon.png")
    -# windows 8.1, maybe mobile, maybe not
    %meta(name="application-name" content="ID Pickup")
    %meta(name="msapplication-navbutton-color" content="#FF3300")
    %meta(name="msapplication-square150x150logo" content="assets/icon.png")
    %meta(name="msapplication-square310x310logo" content="assets/icon.png")
    %meta(name="msapplication-square70x70logo" content="assets/icon.png")
    %meta(name="msapplication-wide310x150logo" content="assets/icon.png")
    %meta(name="msapplication-TileColor" content="#FF3300")
    %meta(name="msapplication-TileImage" content="assets/icon.png")
    %meta(name="msapplication-tooltip" content="ID Pickup")
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid
      -unless @print
        %nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
          .container-fluid
            .navbar-header.pull-left
              %a.navbar-brand(href="#")
                =image_tag "logo.png", height: '20'
                Taivalsprintti Admin
          -#
            -# Sticky menu, on the right
            #navbar-steady.navbar-header.pull-right
              %ul.nav.navbar-nav.pull-left
                -# Static menu items
                %li.pull-left.hidden-xs
                  %a(href="#") Static 1
                -# notice that the first to pull right will be right most!
                %li.pull-right
                  %a(href="#") Static 2
                -# Static text, like the username
                %li.navbar-text.pull-right
                  %span.hidden-xs Welcome, 
                  %span guest
              -# following button should ALWAYS be there, unless there is no colapsable items
              %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar")
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            #navbar.navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li.active
                  %a(href="#") Left 1
                %li
                  %a(href="#") Left 2
                %li
                  %a.dropdown-toggle(href="#" data-toggle="dropdown")
                    Drop
                    %span.caret
                  %ul.dropdown-menu(role="menu")
                    %li.dropdown-header Header for submenu group
                    %li
                      %a(href="#") Submenu 1
                    %li
                      %a(href="#") Submenu 2
                    %li
                      %a(href="#") Submenu 3
                    %li.divider
                    %li.dropdown-header Header for others
                    %li
                      %a(href="#") Submenu 4
                    %li
                      %a(href="#") Submenu 5
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a(href="#") Right 1
                %li
                  %a(href="#") Right 2
      -#.alert.alert-success(role="alert")=success_notice
      -if notice
        .alert.alert-info(role="alert")=notice
      -#.alert.alert-warning(role="alert")=alert_warning
      -if alert
        .alert.alert-danger(role="alert")=alert
      = yield
